@model Lab3.Models.AddPatient
@{
    ViewBag.Title = "AddPatient";
}

<h2>Add Patient for Doctor: @ViewBag.DoctorName</h2>
@using (Html.BeginForm("AddPatient", "Doctors"))
{
    <div class="form-group">
        <div class="col-md-10">
            @Html.DropDownListFor(m=>m.PatientId,new SelectList(Model.Patients,"PatientId","Name"))
        </div>
    </div>
    <button type="submit" class="btn btn-outline-dark">Add</button>
    @Html.HiddenFor(m=>m.DoctorId)
}

