@model List<Lab2.Models.Event>
@{
    ViewBag.Title = "ShowAllEvents";
}

<h2>All Events</h2>
<table>
    @{
        int i = 0;
        <tr>
            <td>Name:</td>
            <td>Location:</td>
        </tr>
        foreach(var element in Model)
        {
<tr>
    <td>@Html.ActionLink(element.Name, "ShowEvent/", new { id = i })</td>
    <td>@Html.ActionLink(element.Location, "ShowEvent/", new { id = i })</td>
    <td>@Html.ActionLink("Edit", "EditEvent", new { id = i }, new { @class = "btn btn-primary" })</td>
    <td>@Html.ActionLink("Delete", "DeleteEvent", new { id = i }, new {@class="btn btn-primary"})</td>
</tr>
            i++;
        }
    }
</table>
